.back-button {
  font-weight: bold;
  text-decoration: none;
  font-size: 2rem;
  color: black;
  display: flex;
  align-items: center;
}
.back-button img {
  max-width: 30px;
  margin-right: 1rem;
}
.back-button:hover img {
  transform: translateX(-2px);
}
.back-button:hover {
  opacity: 0.8;
}

.header {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

.button-container {
  margin-left: auto;
  max-width: 200px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.playlist-name {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: rgb(82, 77, 77);
  text-align: center;
  position: relative;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid black;
}

/* .playlist-name::after {
  content: "";
  position: absolute;
  bottom: -10px;
  right: 50%;
  transform: translateX(50%);
  width: 50px;
  height: 5px;
  background: rgb(0, 0, 0);
  border-radius: 25%;
} */
