.similar-page {
  display: flex;
  flex-direction: column;
}
.similar-header {
  display: flex;
  justify-content: space-between;
}

.similarSongs {
  display: grid;
  gap: 1rem;
  width: 100%;
}
.link {
  text-decoration: none;
  font-size: 1.4rem;
  color: rgb(189, 196, 196);
  align-self: flex-end;
  margin-bottom: 1.5rem;
  font-weight: bold;
}
.link:hover {
  opacity: 0.8;
  text-decoration: underline;
}



@media screen and (max-width: 800px) {
  .similarSongs {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 800px) {
  .similarSongs {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 2rem;
  }
}
@media screen and (min-width: 1000px) {
  .similarSongs {
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .similarSongs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .similarSongs article {
    flex-shrink: 0;
  }
}
@media screen and (min-width: 1400px) {
  .similarSongs {
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
    height: 630px;
    gap: 1rem 2.5rem;
  }
}
