.player {
  width: 100%;
  display: flex;
  justify-content: center;
  background: rgb(112, 111, 111);
  padding: 1rem 0;
  align-items: center;
  position: relative;
}

.songInfo-container {
  display: flex;
  max-width: 150px;
  justify-content: center;
  width: 100%;
  align-items: center;
  z-index: 1;
  cursor: default;
}
.album {
  display: none;
}
.text {
  color: white;
}
.name {
  font-size: 1.6rem;
  margin-bottom: 0rem;
}
.artist {
  font-size: 1.2rem;
  opacity: 0.9;
}
.control {
  padding: 0.25rem;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  width: 100%;
}

.control:hover {
  transform: scale(1.05);
}

.control-container {
  display: flex;
  max-width: 300px;
  width: 100%;
  align-items: center;
  flex-direction: column;
  transform: translateY(10px);
}

.play {
  max-width: 45px;
  width: 100%;
  padding: 1rem;
  cursor: pointer;
}
.progress_bar-outer {
  max-width: 500px;
  width: 100%;
  border-radius: 5px;
  height: 10px;
  background: rgb(241, 241, 241);
  margin: 1rem;
  overflow: hidden;
  cursor: pointer;
}
.progress_bar-outer:hover {
  transform: scale(1.05);
}

.progress_bar-inner {
  background: rgb(14, 13, 13);
  height: 100%;
  transition: 0.3s all;
}

@media screen and (min-width: 768px) {
  .album {
    max-width: 80px;
    width: 100%;
    margin-right: 2rem;
    display: block;
  }
  .songInfo-container {
    max-width: 300px;
  }
  .control-container {
    max-width: 500px;
  }
}
