.player {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background: rgb(112, 111, 111);
  padding: 1rem 0;
  align-items: center;
}

.songInfo-container {
  max-width: 300px;
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  cursor: default;
}
.album {
  max-width: 80px;
  width: 100%;
  margin-right: 2rem;
}
.text {
  color: white;
}
.name {
  font-size: 1.6rem;
  margin-bottom: 0rem;
}
.artist {
  font-size: 1.2rem;
  opacity: 0.9;
}
.control {
  padding: 0.25rem;
  border: 2px solid white;
  border-radius: 50%;
}
.play {
  max-width: 45px;
  width: 100%;
  cursor: pointer;
  padding: 1rem;
}

.control:hover {
  transform: scale(1.05);
}
