.songs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}
.search-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2rem;
}

@media screen and (min-width: 1440px) {
  .songs-container {
    justify-content: flex-start;
  }
}
